<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gaming Tech Blog</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

  <div class="wrapper">
    <header>
        <h1 class="has-text-white px-2 py-2 has-text-weight-bold">Gaming tech blog</h1>
        <nav class="navbar mt-3 is-dark">
            {{#if loggedIn}}
            <a href="/" class="has-text-white navbar-item is-hoverable pt-3">homepage</a>
            <a href="/dashboard" class="has-text-white navbar-item is-hoverable pt-2">dashboard</a>
            <a href="/dashboard/create/" class="has-text-white navbar-item is-hoverable pt-1 mr-3">create post</a>
            <button id="logout" class="button is-danger">logout</button>
            {{else}}
            <a href="/" class="navbar-item is-hoverable pt-2">homepage</a>
            <a href="/login" class="button is-primary">login</a>
            {{/if}}
        </nav>
    </header>

    <main>
            {{{ body }}}
    </main>
  </div>

{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}
</body>

</html>